.room-four {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: monospace;
}

.world {
  flex: 1;
  position: relative;
  overflow: hidden;
  background: #5c94fc;
}

.mario {
  position: absolute;
  bottom: 80px;
  width: 48px;
  transition: left 0.4s ease;
}

.castle {
  position: absolute;
  bottom: 80px;
  right: 120px;
  width: 120px;
}

.princess {
  position: absolute;
  bottom: 80px;
  right: 200px;
  width: 48px;
}

.riddle-box {
  height: 180px;
  background: #fff8dc;
  padding: 20px;
  text-align: center;
}
